<!DOCTYPE html>
<html>
  <head>
    <title>DemoRailsWebrtc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
